<!DOCTYPE html>
<html lang="ko">
<head>
    <title>포인트 사용내역 관리 페이지</title>
</head>
<body>
<div class="container">
    [[${userId}]] 님의 포인트 사용 이력
    <table class="table">
        <colgroup>
            <col style="width: 10%">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 10%">
        </colgroup>
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">사용/적립 내역 번호</th>
            <th scope="col">변동 사유</th>
            <th scope="col">사용/적립 양</th>
            <th scope="col">사용/적립 일자</th>
        </tr>
        </thead>
        <tbody>

        <tr th:if="${#lists.isEmpty(list)}">
            <td colspan="5">데이터가 존재하지 않습니다.</td>
        </tr>

        <tr th:unless="${#lists.isEmpty(list)}" th:each="item: ${list}">
            <td th:text="${itemStat.index}"></td>
            <td th:text="${item.userPointDetailID}"></td>
            <td th:text="${item.userPointChange}"></td>
            <td th:text="${item.userPointChangeAmount}"></td>
            <td th:text="${item.userPointChangeDate}"></td>
        </tr>

        </tbody>
    </table>
    <!--    startpageno,endpageno-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <li th:if="${startpageno == 1}" class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
            </li>

            <li th:unless="${startpageno == 1}" class="page-item">
                <a class="page-link" th:href="@{/managePointDetail(page_temp=${startpageno -1})}"
                   tabindex="-1"
                   aria-disabled="true">이전</a>
            </li>

            <li class="page-item" th:each="item: ${#numbers.sequence(startpageno,endpageno)}">
                <a class="page-link digit"
                   th:href="@{/managePointDetail(page_temp =${itemStat.index})}">[[${itemStat.index}]]</a>
            </li>


            <li th:if="${totalpages == endpageno}" class="page-item disabled">
                <a class="page-link" href="#">다음</a>
            </li>

            <li th:unless="${totalpages == endpageno}" class="page-item">
                <a th:href="@{/managePointDetail(page_temp=${endpageno+1})}"
                   class="page-link">다음</a>
            </li>

        </ul>
    </nav>
</div>

</body>
</html>